*{
    text-align: center;
    margin: 0;
    padding: 0;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    border-radius: 10%;
    width: 500px;
    height: 350px;
}

#container h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#container h2{
    margin-top: 20px;
    margin-bottom: 20px; 
}

#stats_container{
    display: flex;
    justify-content: center;
    gap: 100px;
}

