*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-image: url(img/background.jpg);
}

#title{
    margin-top: 75px;
    font-size: 4em;
    font-family: 'Fredoka One', sans-serif;
    animation: animation 1s infinite, rgb 1s infinite;
}

#title:after br{
    color: red;
}

#container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(221deg, #000000 0%, #373437 100%);
    color:white;
    border-radius: 10%;
    width: 500px;
    height: 500px;
    font-family: 'Fredoka One', sans-serif;
}

#container h1{
    margin-top: 40px;
    margin-bottom: 20px;
}

#container h2{
    margin-top: 20px;
    margin-bottom: 20px; 
}

button{
    padding: 8px;
    border-radius: 10px;
    border: solid black 1px;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5em;
    background-color: green;
    color:white;
}

#stats_container{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

#stats_container h2{
    font-size: 2em;
}


@keyframes animation{
    0%{
        transform: translateY(6px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform : translateY(6px);
    }
}

